<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src='/javascripts/feed.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'/>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script></head>
  <body>
    {{{body}}}
  </body>
</html>
